:root {
    --header-height: 4rem;
    --footer-height: 4rem;
    --body-min-height: 100vh;
    --main-min-height: calc(var(--body-min-height) - var(--header-height) - var(--footer-height));
}

html, body, header, main, footer {
    margin:  0;
    padding: 0;
    width: 100%;
}

main {
    min-height: var(--main-min-height);
}

header {
    height: var(--header-height);
    line-height: var(--header-height);
}

footer {
    height: var(--footer-height);
    line-height: var(--footer-height);
}